.cardContainer{
    width: 100%;
    height: 28%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2%;
    gap: 2%;
    align-items: center;
}