.mainWindow{
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    height:100vh;
    width: 100vw;
    justify-content: flex-start;
}

.sideBarWindow{
    width: 18%;
    height: 107%;
}

.sideWindow{
    width: 82%;
    height: 107%;
}

