.container{
    margin-top: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    width: 80%;
    height: 80%;
    background-color: rgb(240, 239, 239);
    border-radius: 20px;
}

.title{
    margin-top: 5%;
    width: 100%;
    display: flex;
    font-size: xx-large;
    font-weight: bold;
    justify-content: flex-start;
    text-align: center;
}

.ffholder input{
    padding-left: 10px;
}

.formRow{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: space-around;
}

.datePicker{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
}


.ffholder{
    display: flex;
    width: 100%;
    height: 3em;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
}

.btnSubmit{
    margin-top: 5%;
    width: 20%;
    background-color: orangered;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1 px solid black;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}

.btnSubmit:hover{
    background-color: orange;
}